P2-Distributed_Node-Red/config/flows.json
[{"id":"9a34155.cb89be8","type":"tab","label":"Registration Flow","disabled":false,"info":""},{"id":"5bf40722.44bc18","type":"http request","z":"9a34155.cb89be8","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:8080/register","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":160,"wires":[["faa83ba8.147ba8"]]},{"id":"faa83ba8.147ba8","type":"debug","z":"9a34155.cb89be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":160,"wires":[]},{"id":"81c3e64b.ef7198","type":"inject","z":"9a34155.cb89be8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"FLOW-01\",\"ip\":\"127.0.0.1\",\"port\":1880}","payloadType":"json","x":330,"y":160,"wires":[["5bf40722.44bc18"]]},{"id":"81dd9fe.38b2d6","type":"comment","z":"9a34155.cb89be8","name":"","info":"Node 1 Registration","x":380,"y":100,"wires":[]},{"id":"1fcd117c.48c3bf","type":"http request","z":"9a34155.cb89be8","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:8080/register","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":300,"wires":[["5678791e.be2408"]]},{"id":"5678791e.be2408","type":"debug","z":"9a34155.cb89be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":300,"wires":[]},{"id":"d0696f33.e7ddc","type":"inject","z":"9a34155.cb89be8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"FLOW-02\",\"ip\":\"127.0.0.1\",\"port\":1880}","payloadType":"json","x":330,"y":300,"wires":[["1fcd117c.48c3bf"]]},{"id":"32e9516a.bd1f9e","type":"comment","z":"9a34155.cb89be8","name":"","info":"Node 2 Registration","x":380,"y":240,"wires":[]},{"id":"554f8770.4a4168","type":"http request","z":"9a34155.cb89be8","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:8080/register","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":440,"wires":[["f878693f.c4a188"]]},{"id":"f878693f.c4a188","type":"debug","z":"9a34155.cb89be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":440,"wires":[]},{"id":"bb7dcc2c.d96be","type":"inject","z":"9a34155.cb89be8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"FLOW-03\",\"ip\":\"127.0.0.1\",\"port\":1880}","payloadType":"json","x":330,"y":440,"wires":[["554f8770.4a4168"]]},{"id":"2b8eead1.eb4de6","type":"comment","z":"9a34155.cb89be8","name":"","info":"Node 3 Registration","x":380,"y":380,"wires":[]}]