P2-Distributed_Node-Red/.github/json/flows.json
[{"id":"9a34155.cb89be8","type":"tab","label":"Registration Flow","disabled":false,"info":""},{"id":"4f281d0e.aea0d4","type":"tab","label":"Computation Flow (Node 1)","disabled":false,"info":""},{"id":"8c57c7c0.fe77e8","type":"tab","label":"Computation Flow (Node 2)","disabled":false,"info":""},{"id":"2be214db.4453ac","type":"tab","label":"Computation Flow (Node 3)","disabled":false,"info":""},{"id":"5348a5b.cd3df5c","type":"mqtt-broker","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e13e20b9.f4753","type":"websocket-listener","path":"/ws/FLOW-01","wholemsg":"false"},{"id":"c5b78312.6403c","type":"websocket-listener","path":"/ws/FLOW-02","wholemsg":"false"},{"id":"ac8164b.637cd98","type":"websocket-listener","path":"/ws/FLOW-03","wholemsg":"false"},{"id":"5bf40722.44bc18","type":"http request","z":"9a34155.cb89be8","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:8080/register","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":160,"wires":[["faa83ba8.147ba8"]]},{"id":"faa83ba8.147ba8","type":"debug","z":"9a34155.cb89be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":160,"wires":[]},{"id":"81c3e64b.ef7198","type":"inject","z":"9a34155.cb89be8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"FLOW-01\",\"ip\":\"127.0.0.1\",\"port\":1880}","payloadType":"json","x":330,"y":160,"wires":[["5bf40722.44bc18"]]},{"id":"81dd9fe.38b2d6","type":"comment","z":"9a34155.cb89be8","name":"","info":"Node 1 Registration","x":380,"y":100,"wires":[]},{"id":"1fcd117c.48c3bf","type":"http request","z":"9a34155.cb89be8","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:8080/register","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":300,"wires":[["5678791e.be2408"]]},{"id":"5678791e.be2408","type":"debug","z":"9a34155.cb89be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":300,"wires":[]},{"id":"d0696f33.e7ddc","type":"inject","z":"9a34155.cb89be8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"FLOW-02\",\"ip\":\"127.0.0.1\",\"port\":1880}","payloadType":"json","x":330,"y":300,"wires":[["1fcd117c.48c3bf"]]},{"id":"32e9516a.bd1f9e","type":"comment","z":"9a34155.cb89be8","name":"","info":"Node 2 Registration","x":380,"y":240,"wires":[]},{"id":"554f8770.4a4168","type":"http request","z":"9a34155.cb89be8","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:8080/register","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":440,"wires":[["f878693f.c4a188"]]},{"id":"f878693f.c4a188","type":"debug","z":"9a34155.cb89be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":440,"wires":[]},{"id":"bb7dcc2c.d96be","type":"inject","z":"9a34155.cb89be8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"FLOW-03\",\"ip\":\"127.0.0.1\",\"port\":1880}","payloadType":"json","x":330,"y":440,"wires":[["554f8770.4a4168"]]},{"id":"2b8eead1.eb4de6","type":"comment","z":"9a34155.cb89be8","name":"","info":"Node 3 Registration","x":380,"y":380,"wires":[]},{"id":"96c7235b.592bb","type":"inject","z":"4f281d0e.aea0d4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"destinationId\":\"FLOW-02\",\"content\":5}","payloadType":"json","x":230,"y":160,"wires":[["b033fd38.f9472"]]},{"id":"b033fd38.f9472","type":"http request","z":"4f281d0e.aea0d4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/send","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":160,"wires":[["787a6c11.3a0c84"]]},{"id":"787a6c11.3a0c84","type":"debug","z":"4f281d0e.aea0d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":160,"wires":[]},{"id":"967c9a86.f4f998","type":"websocket in","z":"4f281d0e.aea0d4","name":"","server":"e13e20b9.f4753","client":"","x":230,"y":280,"wires":[["21380c4a.acdd44"]]},{"id":"21380c4a.acdd44","type":"debug","z":"4f281d0e.aea0d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":280,"wires":[]},{"id":"a34b1a47.911698","type":"inject","z":"8c57c7c0.fe77e8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"destinationId\":\"FLOW-2\",\"content\":5}","payloadType":"json","x":270,"y":160,"wires":[["8b4d4eca.1e1df"]]},{"id":"8b4d4eca.1e1df","type":"http request","z":"8c57c7c0.fe77e8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/send","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":160,"wires":[["14583898.bb7927"]]},{"id":"c79b031f.00c19","type":"websocket in","z":"8c57c7c0.fe77e8","name":"","server":"c5b78312.6403c","client":"","x":290,"y":280,"wires":[["34c1bbb5.9032e4"]]},{"id":"34c1bbb5.9032e4","type":"json","z":"8c57c7c0.fe77e8","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":280,"wires":[["7a451c6a.b23e34"]]},{"id":"14583898.bb7927","type":"debug","z":"8c57c7c0.fe77e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":160,"wires":[]},{"id":"7a451c6a.b23e34","type":"function","z":"8c57c7c0.fe77e8","name":"","func":"msg.payload.content = parseInt(msg.payload.content) + 2;\nmsg.payload.destinationId = \"FLOW-03\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":280,"wires":[["37039038.5c2","bb8ad641.276f58"]]},{"id":"c5042b7e.1a2a18","type":"comment","z":"4f281d0e.aea0d4","name":"","info":"Sum in remote server","x":290,"y":120,"wires":[]},{"id":"885c8758.af9ff8","type":"inject","z":"2be214db.4453ac","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"destinationId\":\"FLOW-2\",\"content\":5}","payloadType":"json","x":330,"y":140,"wires":[["259278d1.2476c8"]]},{"id":"259278d1.2476c8","type":"http request","z":"2be214db.4453ac","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/send","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":140,"wires":[["5fc08617.fa6e98"]]},{"id":"29f10509.5567ca","type":"websocket in","z":"2be214db.4453ac","name":"","server":"ac8164b.637cd98","client":"","x":350,"y":260,"wires":[["e059b0fb.5986e"]]},{"id":"e059b0fb.5986e","type":"json","z":"2be214db.4453ac","name":"","property":"payload","action":"","pretty":false,"x":550,"y":260,"wires":[["4eba93e2.f93b0c"]]},{"id":"5fc08617.fa6e98","type":"debug","z":"2be214db.4453ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":140,"wires":[]},{"id":"4eba93e2.f93b0c","type":"function","z":"2be214db.4453ac","name":"","func":"msg.payload = parseInt(msg.payload.content) + 2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":260,"wires":[["56837490.9c502c"]]},{"id":"56837490.9c502c","type":"debug","z":"2be214db.4453ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":260,"wires":[]},{"id":"37039038.5c2","type":"http request","z":"8c57c7c0.fe77e8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/send","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":340,"wires":[[]]},{"id":"bb8ad641.276f58","type":"function","z":"8c57c7c0.fe77e8","name":"","func":"msg.payload = parseInt(msg.payload.content);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":280,"wires":[["9f67631b.04219"]]},{"id":"9f67631b.04219","type":"debug","z":"8c57c7c0.fe77e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":280,"wires":[]}]